.table td, .table th{
	vertical-align: middle;
}

a[data-type="approx"]:hover{
	color: #fff !important;
}

p{
	margin-bottom: 0; 
}

.m-overflow{
	width: 100%;
	overflow-x: auto;
}

@media screen and (max-width: 768px){
	.table td, .table th{
		white-space: nowrap;
	}
}